<div class="main-wrapper">
  <section class="header-links">
    <ul class="header-rows">
      <li class="main-header">
        <i class="glyph material-icons">queue_music</i>
        <h2 class="info-header">Orchestra for Spotify</h1>
      </li>
      <li class="room-info">
        <i class="glyph material-icons">people</i>
        <h2 class="info-header">Room name</h2>
      </li>
      <li class="dj-info">
        <i class="glyph material-icons">equalizer</i>
        <h2 class="info-header">Current dj: deini</h2>
      </li>
      <li class="playing-info">
        <i class="glyph material-icons">radio</i>
        <h2 class="info-header">Now playing: Song</h2>
      </li>
    </ul>
  </section>

  <section class="player-controls">
    <form name="channelForm" ng-submit="homeController.joinChannel(channelForm.$valid)">
        <md-input-container>
          <label class="channel-name" for="channel">Channel Name:</label>
          <input type="text" id="channel" ng-model="homeController.channel" ng-minlength="3" required/>
        </md-input-container>
        <md-button class="join-channel md-raised" type="submit">Join Channel</md-button>
    </form>
  </section>


  <md-button class="become-dj md-raised" ng-click="homeController.becomeDj()">Be the DJ</md-button>
  <md-button class="become-listener md-raised" ng-click="homeController.becomeListener()">Become a listener</md-button>
</div>
